button {
  font-size: 16pt;
}

.stateDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  font-size: 16pt;
  width: 500px;
  padding: 5px 0;
}

.stateLevel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 250px;
}
